#main-container {
  background-color: #FDFCDC;
}

.header {
  font-family: "Sixtyfour Convergence", sans-serif;
  text-align: center;
  font-size: xx-large;
}

.subheader {
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: medium;
  line-height: 1.5rem;
  color: dimgray;
}

.block__wrapper {
  width: 80%;
  margin: auto;
}

.block__item-image {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.block-image {
  width: 100%;
  height: 100%;
  margin: auto;
}

.block-description {
  padding: 1rem;
  word-break: break-all;
}

.block-item {
  padding-bottom: 1rem;
}

.description-highlight.green {
  color: green ;
}

.description-highlight.red {
  color: red ;
}


/* style code block */
.block-item-code-wrapper {
  padding: 1rem;
  background-color: white;
  display: grid;
}

.block-item-code {
  display: grid;
padding: 1rem 0;
}

.block-item-code-wrapper .preview-terminal {
  word-break: break-all;
}

.command-head {
  color: #F07167;
}

.command-tail {
  color: #0081A7;
}

.command-comment {
  font-style: italic;
  font-weight: 200;
  color: gray;
}

/* Media queries for mobile */
@media (max-width: 768px) {
  .subheader { 
    width: 90%;
  }
  .block__wrapper {
    width: 90%;
  }
  .block__item-image {
    display: block;
  }
  .block-item p, .block-description,   .command-comment   {
    font-size: medium;
  }
  .block-item-code{
    font-size: large;
  }
  .block-item-code-wrapper .preview-terminal {
    font-size: small;
  }
}
