section {
  padding: var(--page-h-padding);
}

.content {
  max-width: 90ch;
  margin: auto;
}

h1 {
  margin-top: 0;
}

p {
  line-height: 1.5;
}

li {
  line-height: 1.5;
}

.create-project-locally {
  display: flex;
  justify-content: space-between;
}

.project__image-1 {
  width: 50vw;
  height: 50vh;
}

/* Media query */
@media (max-width: 768px) {
  section {
    padding: var(--page-h-padding-mobile);
  }

  .content {
    max-width: 85%;
  }

  .create-project-locally {
    flex-direction: column;
    align-items: center;
  }

  .project__image-1 {
    width: 80vw;
    height: 40vh;
  }

  h1 {
    font-size: 1.8rem;
  }

  p,
  li {
    line-height: 1.6;
  }
}
